<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E00000</key>
	<string>服务器错误</string>
	<key>W00001</key>
	<string>无效的token号</string>
	<key>E00002</key>
	<string>网络延迟，请重试</string>
	<key>I00101</key>
	<string>success</string>
	<key>I00102</key>
	<string>SUCCESS_CODE_TIP</string>
	<key>W00112</key>
	<string>error</string>
	<key>I01001</key>
	<string>success</string>
	<key>W01002</key>
	<string>用户未注册</string>
	<key>W01003</key>
	<string>此账号不能在该设备上登录</string>
	<key>W01004</key>
	<string>密码错误</string>
	<key>I01005</key>
	<string>success</string>
	<key>W01006</key>
	<string>该邮箱已被注册过</string>
	<key>I01007</key>
	<string>用户完善信息已提交</string>
	<key>W01008</key>
	<string>该设备已被注册过</string>
	<key>I01009</key>
	<string>success</string>
	<key>W01010</key>
	<string>姓名或电话不正确</string>
	<key>W01012</key>
	<string>旧密码输入有误</string>
	<key>W01013</key>
	<string>密码修改失败</string>
	<key>W01014</key>
	<string>此设备未绑定账号，无法找回密码</string>
	<key>W01015</key>
	<string>您无权限进行此操作</string>
	<key>W01016</key>
	<string>不能删除该部门，因为它存在下级部门或成员</string>
	<key>I03001</key>
	<string>success</string>
	<key>I03002</key>
	<string>success</string>
	<key>E03003</key>
	<string>JSON格式错误</string>
	<key>I03004</key>
	<string>success</string>
	<key>E03005</key>
	<string>数据上传失败</string>
	<key>W03006</key>
	<string>事件提交失败</string>
	<key>I03007</key>
	<string>无任何签到状态</string>
	<key>I03008</key>
	<string>签到未签退</string>
	<key>I03009</key>
	<string>签到且签退</string>
	<key>I03010</key>
	<string>success</string>
	<key>W03011</key>
	<string>事件更新失败</string>
	<key>I03012</key>
	<string>success</string>
	<key>W03013</key>
	<string>未查询到任何记录</string>
	<key>I03014</key>
	<string>success</string>
	<key>W03015</key>
	<string>未能成功保存事件结果信息</string>
	<key>I03016</key>
	<string>success</string>
	<key>W03017</key>
	<string>计划事件保存失败</string>
	<key>W03018</key>
	<string>每天只需签到一次</string>
	<key>I02001</key>
	<string>success</string>
	<key>I02002</key>
	<string>success</string>
	<key>W02003</key>
	<string>联系人保存失败</string>
	<key>I02004</key>
	<string>success</string>
	<key>W02005</key>
	<string>不存在该联系人</string>
	<key>I02006</key>
	<string>success</string>
	<key>W02007</key>
	<string>联系人信息更新失败</string>
	<key>I02008</key>
	<string>成功删除该联系人</string>
	<key>W02009</key>
	<string>未能删除该联系人信息</string>
	<key>I04001</key>
	<string>success</string>
	<key>W04002</key>
	<string>您没有权限查看该信息</string>
	<key>W04003</key>
	<string>不存在下级组织</string>
	<key>W04005</key>
	<string>保存部门失败</string>
	<key>W04006</key>
	<string>存在相同的部门名称</string>
</dict>
</plist>
